{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ INSTANCE_TITLE }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ INSTANCE_TITLE }} Administration</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}