{% load i18n %}
<script type="text/javascript">
  var go_from_select = function (opt) {
    window.location = window.location.pathname + opt
  };
</script>
<h3>
  {% blocktrans with title as filter_title %} By {{ filter_title }}{% endblocktrans %}
</h3>
<ul class="admin-filter-{{ title|cut:' ' }}">
  <li>
    <select class="form-control" style="width: 95%;margin-left: 2%;"
      onchange="go_from_select(this.options[this.selectedIndex].value)">
      {% for choice in choices %}
      <option{% if choice.selected %} selected="selected" {% endif %}
        value="{{ choice.query_string|iriencode }}">{{ choice.display }}
        </option>
        {% endfor %}
    </select>
  </li>
</ul>
{% if filter_is_last %}
<ul>
  <li>
    <a href="#" onclick="window.location = window.location.pathname">
      Reset
    </a>
  </li>
</ul>
{% endif %}
